
html {
	background-image: url(../images/bakesbackground.png);
	max-height: 800px;
}
.content-column {
	margin: auto;
	width: 85%;
	padding-bottom: 40%;
	background-color: #f9f7e49c;
	float: center;
	align-content: center;
	margin-top: 0px;
}
img {
	align-items: center;
}

.content_box {
	margin: 0px -4px 14px 7px;
    padding: 20px 0px;
    width: 345px;
    height: 798px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
			}

.nav{
	display: inline-block;
	width: 22%;
	align-content: center;
	text-decoration: none;
	padding-left: 20px;
}

.nav h1{
	text-align: center;
	font-size: 20px;
	color: #df8c73;
	font-family: 'Noto Serif', serif;
	text-decoration: none;

}

.nav h1:hover {
	font-style: italic;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
