header {
    text-align: center;
}

h1 {
	display: block;
    font-size: 100px;
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-left: 10%;
    /* background: #cbe6e6; */
    color: #FFC107;
    height: 149px;
    text-transform: capitalize;
    line-height: 228px;
    line-height: 134px;
    padding-bottom: 90px;
    margin-right: -50%;
}

h2 {
	font-size: 35px;
    font-family: 'Righteous', cursive;
    text-align: center;
    /* background: #cbe6e6; */
    color: #8bacb5;
    text-transform: capitalize;
    line-height: 65px;
    padding: 0 0 0 0;
    margin-left: 25%;
    margin-right: -35%;
}

h3 {
	font-size: 67px;
    font-family: 'Righteous', cursive;
    text-align: center;
    /* background: #cbe6e6; */
    color: #8bacb5;
    text-transform: capitalize;
    margin-right: -50%;
    line-height: 60px;
    font-stretch: ultra-expanded;  
    margin-left: 10%;
}

h4 {
	font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    line-height: 0px;
    text-align: left;
    font-weight: bold;
    color: #FFC107;
    padding-top: 29px;
    /* padding-left: 245px; */
    margin-left: 10%;
}

.ing {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    line-height: 76px;
    text-align: left;
    font-weight: bold;
    color: #FFC107;
    padding-bottom: 10px;
    margin-right: -50%;
    margin-left: 18%;
}

h5 {
	font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 46px;
    margin-left: 10%;
    margin-right: -43%;
    /* padding-left: 245px; */
    /* padding-right: 270px; */
    padding-top: 13px;
    font-style: normal;
    color: slategray;
}

p {
	font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 56px;
    /* padding-left: 245px; */
    /* padding-right: 270px; */
    padding-top: 0px;
    /* width: 70%; */
    margin-right: -43%;
    margin-left: 10%;
}


#ten
 {
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
    line-height: 85px;
    text-align: left;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}

img {
	width: 157%;
    align-content: center;
    /* padding-left: 250px; */
    padding-top: 20px;
}

h6 {
	font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 45px;
    margin-left: 10%;
    margin-right: -15%;
    color: gray;
}

#source1, #source2, #source3, #nytimes {
    color: gray;
}







