h1 {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(240, 128, 128); 
	font-size: 80px;
	margin-left: 445px;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(211, 211, 211); 
	font-size: 30px;
	margin-left: 340px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-family: Arial, sans-serif;
	color: rgb(205, 92, 92);
	font-size: 30px;
	margin-left: 20px;
}

h4 {
	font-family: Arial, sans-serif;
	color: rgb(128, 128, 128);
	font-size: 16px;
	margin-left: 0px;
}

h5 {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(0,0,0); 
	letter-spacing: -2px;
	font-size: 15px;
	margin-bottom: 0px;
	font-style: thin;
}
h6 {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(0,0,0); 
	text-transform: uppercase;
	font-style: thin;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h7 {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(0,0,0); 
	text-decoration: underline overline;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}
h8 {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(0,0,0); 
	text-decoration: line-through;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(0,0,0);
	font-size: 15px;
	margin-left: 15px;
}	

